.brand-color {
  color: #148090; }

body {
  color: #fff; }

#login-section {
  background: url("../assets/blue.jpeg") no-repeat;
  min-height: 700px;
  background-size: cover;
  background-attachment: fixed; }
  #login-section .home-inner {
    padding-top: 200px; }
  #login-section .label-subtext {
    color: #7f8483; }

#signup-section {
  background: url("../assets/blue.jpeg") no-repeat center fixed;
  min-height: 850px;
  background-size: cover;
  background-attachment: fixed; }
  #signup-section .home-inner {
    padding-top: 200px; }
  #signup-section .label-subtext {
    color: #7f8483; }
  #signup-section .phone-number .col-xs-3::after {
    content: "-";
    position: absolute;
    right: 5px;
    color: black;
    border: 0px solid;
    top: 5px; }
  #signup-section .phone-number .col-xs-4 {
    width: 25%; }
  #signup-section .phone-number .col-xs-3, #signup-section .phone-number .col-xs-4 {
    padding-left: 0; }

#facility-section {
  background: url("../assets/background.jpeg") no-repeat;
  min-height: 900px;
  background-size: cover;
  background-attachment: fixed; }
  #facility-section .home-inner {
    padding-top: 200px; }
  #facility-section .center_beds {
    padding-top: 200px; }
  #facility-section .button-margin {
    margin: 15px; }
  #facility-section .label-text {
    color: #148090;
    padding: 10px;
    margin-left: 60px; }
  #facility-section .label-subtext {
    color: #7f8483; }

#home-section {
  background: url("../assets/blue.jpeg") no-repeat;
  min-height: 900px;
  background-size: cover;
  background-attachment: fixed; }
  #home-section .home-inner {
    padding-top: 300px; }
  #home-section .row {
    margin: 15px 0; }
  #home-section label {
    margin-bottom: 0;
    margin-left: 1px; }
  #home-section .card-form {
    opacity: 0.8; }
  #home-section .fa {
    color: #6B7B82;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px; }

#main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: #6B7B82;
  background-color: white; }

.featurette {
  display: table;
  width: 100%;
  height: 30%;
  vertical-align: middle;
  color: #fff; }

.featurette-inner {
  display: table-cell;
  vertical-align: middle; }

.featurette .search {
  padding: 3%;
  max-width: 980px;
  margin: 0 auto; }

.mo-margin-top {
  margin-top: 0; }

.form-control-lg {
  min-height: 46px;
  border-radius: 6px;
  font-size: 18px;
  line-height: normal; }

.featurette .search.has-button .btn {
  margin-top: 5px;
  width: 100%; }

@media (min-width: 480px) {
  .featurette .search.has-button .form-group {
    position: relative;
    padding-right: 85px;
    /*space for button*/ }
  .featurette .search.has-button .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    margin: 0; } }

.center {
  width: 600px;
  height: 800px;
  margin: 75px auto; }

.btn-submit {
  background-color: #6B7B82;
  color: #fff;
  width: 150px;
  height: 50px;
  text-align: center;
  padding: 6px 0;
  font-size: auto;
  line-height: 1.42;
  border-radius: 90px; }

.input-circle {
  background-color: #058091;
  color: #fff;
  width: 150px;
  height: 150px;
  text-align: center;
  padding: 6px 0;
  font-size: auto;
  line-height: 1.42;
  border-radius: 90px; }

.details-circle {
  background-color: #058091;
  color: #fff;
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 6px 0;
  font-size: auto;
  line-height: 1.42;
  border-radius: 90px; }

a {
  color: #148090; }

a:hover {
  color: #148090; }

.side-bar {
  float: right; }
