// Main Sass File
$font-color: #fff;
$brand-color: #148090;
$nav-color: #6B7B82;
$primary-color: #008ed6;
$dark-overlay:rgba(0,0,0,0.7);
$icon-size: 30px;

.brand-color {
  color: $brand-color;
}

body{
  color: $font-color;
    .navbar{
      // border-bottom: $brand-color 3px solid;
      // opacity: 0.8;
    }

}

footer {
  // border-top: $brand-color 3px solid;
}

#login-section{
  background:url("../assets/blue.jpeg") no-repeat;
  min-height: 700px;
  background-size: cover;
  background-attachment: fixed;
  .home-inner{
    padding-top: 200px;
  }
  .label-subtext {
    color: #7f8483;
  }
}

#signup-section{
  background:url("../assets/blue.jpeg") no-repeat center fixed;
  min-height: 850px;
  background-size: cover;
  background-attachment: fixed;
  .home-inner{
    padding-top: 150px;
  }
  .label-subtext {
    color: #7f8483;
  }
  .phone-number .col-xs-3::after{
 content: "-";
 position:absolute;
    right: 5px;
    color: black;
    border: 0px solid;
    top: 5px;
}

.phone-number .col-xs-4{
	width:25%;
}

.phone-number .col-xs-3, .phone-number .col-xs-4{

	padding-left:0;
}
}


#facility-section{
  background:url("../assets/background.jpeg") no-repeat;
  min-height: 900px;
  background-size: cover;
  background-attachment: fixed;
  .home-inner{
    padding-top: 200px;
  }
  .center_beds {
    padding-top: 200px;
  }
  .button-margin {
    margin: 15px;
  }

  .label-text {
    color: #148090;
    padding: 10px;
    margin-left: 60px;

  }
  .label-subtext {
    color: #7f8483;
  }
}

#home-section{
  background:url("../assets/blue.jpeg") no-repeat;
  min-height: 900px;
  background-size: cover;
  background-attachment: fixed;

  .home-inner{
    padding-top: 300px;
  }
  .row {
    margin:15px 0;
  }
  label {
    margin-bottom: 0;
    margin-left: 1px;
  }

  .card-form{
    opacity: 0.8;
  }
  .fa{
    color: $nav-color;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: $icon-size;
  }
}

#main-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: $nav-color;
  background-color: white;
}



// Search Bar
.featurette {
  display: table;
  width: 100%;
  height: 30%;
  vertical-align: middle;
  color: #fff;
}

.featurette-inner {
  display: table-cell;
  vertical-align: middle;
}

.featurette .search {
  padding: 3%;
  max-width: 980px;
  margin: 0 auto;
}

.mo-margin-top {
  margin-top: 0;
}

.form-control-lg {
  min-height: 46px;
  border-radius: 6px;
  font-size: 18px;
  line-height: normal;
}

.featurette .search.has-button .btn {
  margin-top: 5px;
  width: 100%;
}


@media (min-width:480px) {
    .featurette .search.has-button .form-group {
        position: relative;
        padding-right: 85px; /*space for button*/
    }
    .featurette .search.has-button .btn {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        margin: 0;
    }
}

.center{
width: 600px;
height: 800px;
  margin: 75px auto;

}


.btn-submit {
  background-color: $nav-color;
  color: $font-color;
  width: 150px;
  height: 50px;
  text-align: center;
  padding: 6px 0;
  font-size: auto;
  line-height: 1.42;
  border-radius: 90px;
}



// Circle-Input
.input-circle {
  background-color: #058091;
  color: $font-color;
  width: 150px;
  height: 150px;
  text-align: center;
  padding: 6px 0;
  font-size: auto;
  line-height: 1.42;
  border-radius: 90px;
}

// Bed Availability for Details Page
.details-circle {
  background-color: #058091;
  color: $font-color;
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 6px 0;
  font-size: auto;
  line-height: 1.42;
  border-radius: 90px;
}
a {
  color: $brand-color;

}

a:hover {
  color: $brand-color;
}

.side-bar {
  float: right;
}
